#container {
  margin:auto;
width:100%; 
height:100%;
  background: #ffffff;
}

#head {
  background: #dddddd;
background-image:url("Untitled-1.jpg");
background-repeat:repeat-y;
height:20%;
text-align:center;
}

#head_title {
  background: #dddddd;
background-image:url("Untitled-1.jpg");
background-repeat:repeat-y;
height:20%;
text-align:center;
width:40%;
}


#logo
{
background: #dddddd;
background-image:url("Untitled-1.jpg");
background-repeat:repeat-y;
height:20%;
width:30%;
text-align:center;
}
#side
{
background: #dddddd;
/*background-image:url("Untitled-1.jpg");
background-repeat:repeat-y;*/
height:20%;
width:30%;
text-align:center;
}
#drop_down {
  background: #DDDDDD;
height:20%;

text-align:center;
}

#left {
  float: left; 
width:25% ;
height:70%;
  background: #EBEBEB;
background-image:url(Books.jpg); 
}

#content {
  float:left;
text-align:center;
 
width:50%;
height:70%;


/*background-image:url(Notturno.jpg); 
background-repeat:no-repeat;
background-position:center;
background-height:70%;
background-width:50%;
background-color: #cdcde6;
*/
background-color: #808080;
  
}

#right { 
  float:right; 
 
width:25%; 
height:70%;
  background: #fff8dc;background-image:url(Untitled2.jpg);
background-position:bottom;
background-repeat:repeat-x;

}

#footer { 
text-align:right;
  clear:both;
height:10%;
background:gray;
  font-color:white;
text-align:center;
} 

#menu{
padding:0;
margin:0;
}
#menu ul{
padding:0;
margin:0;
}
#menu li{
position: relative;
float: left;
list-style: none;
margin: 0;
padding:0;
}

#menu li a{
width:230px;
height: 30px;
display: block;
text-decoration:none;
text-align: center;
line-height: 30px;
background-color: #DDDDDD;
color: purple;
}
#menu li a:hover{
background-color: blue;
}
#menu ul ul{
position: absolute;
top: 30px;
visibility: hidden;
}
#menu ul li:hover ul{
visibility:visible;
}
body{
behavior: url(csshover2.htc);
}
